:root{
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --white-color: #dff3e4;
}

main>.container {
  padding: 60px 15px 0;
}

a {
  color: #88909e;
}

a:hover {
  color: violet;
  text-decoration: underline;
}

.alist{
  color: #7e97bf;
}
.alist:hover{
  color: violet;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
  padding-right: 1rem;
}

footer .social>a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social>a:hover {
  opacity: 0.90;
  color: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-color);
}

.alight {
  color: var(--white-color);
}

.alight:hover {
  color: var(--white-color);
}

.logoFont {
  font-family: 'Racing Sans One', cursive;
}

.rcorners {
  border-radius: 10%;
}