@page
@model kgivler_com.Pages.DemosModel
@{
    ViewData["Title"] = "Demos";
}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1 class="display-5">Demo List</h1>
            <p class="lead">
                A few smaller projects and demos made using various technologies.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-12">
            <h4 class="mt-4">ASP.NET (MVC) Demos</h4>
            <ul class="list-group shadow mb-5">
                <li class="list-group-item list-group-item-light">
                    <a href="https://addressbook.kgivler.com" class="alist" target="_blank">Address Book MVC</a> - ASP.NET MVC: Address Book Demo.
                </li>
                <li class="list-group-item list-group-item-dark">
                    <a href="https://loan.kgivler.com" class="alist" target="_blank">Loan Calculator MVC</a> - ASP.NET MVC: Morgage Loan Calculator.
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://fizzbuzz.kgivler.com" class="alist" target="_blank">Fizz Buzz MVC</a> - ASP.NET MVC: Classic Fizz Buzz challenge.
                </li>
                <li class="list-group-item list-group-item-dark">
                    <a href="https://rotator.kgivler.com" class="alist" target="_blank">Rotator MVC</a> - ASP.NET MVC: Palindrome detector.
                </li>
            </ul>

            <h4 class="mt-4">Frontend Demos</h4>
            <ul class="list-group shadow mb-5">
                <li class="list-group-item list-group-item-light">
                    <a href="~/LoanShark/" class="alist" target="_blank">Loan Shark</a>
                    - JavaScript coding challenge: Morgage Loan Calculator.
                </li>
                <li class="list-group-item list-group-item-dark">
                    <a href="~/FizzBuzz/index.html" class="alist" target="_blank">Fizz Buzz</a>
                    - Classic JavaScript coding challenge.
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="~/Rotator/index.html" class="alist" target="_blank">Rotator</a> - JavaScript coding challenge: Palindrome detector.
                </li>
                <li class="list-group-item list-group-item-dark">
                    <a href="~/REwind/index.html" class="alist" target="_blank">REwind</a> - JavaScript coding challenge: Reverse a string.
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="~/Hundo/index.html" class="alist" target="_blank">Hundo</a> - JavaScript coding challenge: Display even numbers in bold.
                </li>
            </ul>

            <h4 class="mt-4">Bootstrap Layout Examples</h4>
            <ul class="list-group shadow mb-5">
                <li class="list-group-item list-group-item-light">
                    Bootstrap Grids: 
                    <a href="~/demos/BootstrapAndTheGrids/index.html" class="alist" target="_blank"> Demo Grid Layouts</a>
                </li>
                <li class="list-group-item list-group-item-dark">
                    Bootstrap Contact Page: <a href="~/demos/ContactForm/index.html" class="alist" target="_blank">Demo</a> /
                    <a href="./demos/ContactForm/contactForm.html" class="alist" target="_blank">Alt</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    Bootstrap Addressbook: <a href="~/demos/AddressBook/index.html" class="alist" target="_blank">Demo</a>
                </li>
                <li class="list-group-item list-group-item-dark">
                    Bootstrap Invoice: <a href="~/demos/Invoice/index.html" class="alist" target="_blank">Demo</a>
                </li>
            </ul>
        </div>
    </div>
</div>