@page
@model IndexModel
@{
    ViewData["Title"] = "Full Stack Developer";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-2 display-3 logoFont">Welcome to kgivler.com</h1>
            <p class="lead">
                I am Kyle Givler, and I am a full stack developer. You have found my personal homepage. Here you will find some information about myself and
                my projects. Please feel free
                to have a look at my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a> and explore my web site.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-5 mt-3">
            <ul class="list-group shadow">
                <li class="list-group-item list-group-item-dark">
                    My programming <a asp-page="Projects" class="alist">projects</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    My Personal <a href="https://github.com/joyfulreaper" class="alist" target="_blank">GitHub</a>
                </li>
                <li class="list-group-item list-group-item-dark">
                    My Portfolio <a href="https://github.com/Kyle-Givler" class="alist" target="_blank">GitHub</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    My <a href="https://www.linkedin.com/in/kyle-givler/" class="alist" target="_blank">LinkedIn</a>
                </li>
                <li class="list-group-item list-group-item-dark">HTML5/Bootstrap 5/JavaScript/ASP.NET <a asp-page="Demos" class="alist">demos</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="display-5 mt-5 logoFont">About Me</h1>
            <p>
                I am a fullstack .NET developer that primarily enjoys working with C# backend technologies.
                I am extremely passionate about development and technology. I enjoy learning and teaching
                others what I know. I prefer backend development, while striving to have also have the ability to
                effectively utilize frontend technologies.
                I have experience with the following technologies:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-5 mb-4 mt-2">
            <ul class="list-group shadow">
                <li class="list-group-item list-group-item-dark">C#, .NET, Java, HTML5, Bootstrap 5, JavaScript</li>
                <li class="list-group-item list-group-item-light">Visual Studio, IntelliJ, Git, SSMS</li>
                <li class="list-group-item list-group-item-dark">
                    SQL Server, SQLite, Dapper, and SQL Developer
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Currently I am expanding my web development skills. I am learning more ASP.NET (Razor Pages,
                MVC, Blazor Client and Server, APIs) and more CSS/Bootstrap/JavaScript.
                I have started a portfolio of my work here: <a href="https://github.com/Kyle-Givler" target="_blank">https://github.com/Kyle-Givler</a>
            </p>
            <p>
                I also have some familiarity with other technologies and programming languages to a lesser
                extent. This includes
                C, C++, PowerShell, and Bash among others. I have experience in both Windows and Linux
                environments.
            </p>
            <p>
                My resume can be found on my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a>.
            </p>
            <p>
                Shelly thanks you for stopping by my website!
                <br />
                <a href="/Images/Shelly/shelly.jpg">
                    <img src="/Images/Shelly/shelly.webp" class="img-fluid w-25" alt="Shelly!" />
                </a>
            </p>
        </div>
    </div>
</div>
