@page
@model kgivler_com.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-2 display-3">My Projects</h1>
            <p class="lead">
                Here is a selection of some of the projects I have worked on, with a breif description. I will
                add
                more here as time allows. All projects are licensed under MIT with
                full source code available unless otherwise noted. Please contact me if you would like an
                executable
                copy of any project.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>DiscordBot <a href="https://github.com/JoyfulReaper/DiscordBot">(GitHub)</a></h2>
            <p>
                <br>
                My current project is DiscordBot, a Discord bot. DiscordBot primarily has moderation commands
                as well as most of the other common
                commands you would expect from a Discord bot. The full list of commands can be found in the
                <a href="https://github.com/JoyfulReaper/DiscordBot/blob/main/README.md">README</a> file. I
                originally did not intend for this to become a long term project, but I have had so much fun
                working on it that I decided to keep going forward with it. I will be using this to increase my web
                development skills as well. Currently the bot sends command usage statistics to an API next I plan
                on creating a website to display usage statistics from the API.
            </p>

            <h2>Time Tracker <a href="https://github.com/JoyfulReaper/TimeTracker">(GitHub)</a></h2><br>
            <p>
                Time Tracker allows tracking the amount of time spent on projects. Categories and
                subcategories can be used to organize projects. Entries can then be added to these project. The
                total time spent on
                all projects can then be tracked, along with the amount of time spent per project, category and
                subcategory. It has the option to use a sqlite or SQL Server database. I may also add a web front end at some point.<br>
                <img src="Images/Projects/timetracker.png" class="img-fluid" alt="Time Tracker">
            </p>

            <h2>Random GitHub <a href="https://github.com/JoyfulReaper/Random_GitHub">(GitHub)</a></h2>
            <p>
                <br>
                This application uses the offical GitHub API to find a random GitHub Repository. For now
                this is a simple single WinForm application, with plans to expand the amount of information
                shown and create a web frontend. <br />
                <img src="Images/Projects/randomGithub.png" class="img-fluid" alt="Random Github">
            </p>

            <h2>HappyIRC <a href="https://github.com/JoyfulReaper/HappyIRC">(GitHub)</a></h2> <br>
            <p>
                HappyIRC is a project I attempted, but struggled some with the design. The intention of this
                project is to implement a fully RFC compliant IRC Client and Server Library in C#, and use
                these
                libraries to create: A Console IRC client, One or more GUI IRC clients (WinForms, WPF,
                possibly ASP.NET), and finally an IRC server. I plan to revisit this project at a later
                date, as I beleive currently
                a better use of my free time is to learn more front-end web technologies before revisting
                this project.
            </p>

            <h2>File Joiner <a href="https://github.com/JoyfulReaper/FileJoiner">(Github)</a></h2><br>
            <p>
                A simple application for joining any type of file. I do plan to also make a file aplitter eventually!<br>
                <img src="Images/Projects/filejoiner.png" class="img-fluid" alt="File Joiner">
            </p>

            <h2>Polling API <a href="https://github.com/JoyfulReaper/Poll">(GitHub)</a></h2><br>
            <p>
                An API for creating, voting on, and getting the results for polls. I wrote this with the
                intention of interacting with with a (private source code) Discord bot for a server I am
                a part of. Missing features: Need a way to retrieve a subset of all polls. If this API could be
                useful for you please contact me on GitHub for potential available access, as it is running on
                this website.
            </p>

        </div>
    </div>
</div>