<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Kyle Givler: @ViewData["Title"]</title>

    <!-- Bootstrap 4 and default stylesheet
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/style.css" rel="stylesheet">
    -->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./Images/favicon-32x32.png">

    <!-- Google Fonts Racing Sans One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top shadow">
            <div class="container-fluid">
                <a class="navbar-brand logoFont" asp-page="Index">
                    <img src="./Images/kg.webp" class="d-inline-block align-text-top"
                         width="30" height="24">Kyle's Homepage
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="Projects">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="Demos">Demos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/joyfulreaper" target="_blank">Personal GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/Kyle-Givler" target="_blank">Portfolio GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        @RenderBody()
    </main>


    <!-- Footer Section -->
    <footer class="footer mt-auto py-3">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3 gy-2">
                <div class="col text-light order-last order-lg-first">
                    <div>
                        <span class="text-muted">&copy;2021</span> Kyle Givler | <a class="alight"
                                                                                    href="https://kgivler.com">kgivler.com</a>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-center">
                    <img src="./Images/kyle.webp" alt="Kyle Givler Logo" height="24">
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                    <div class="row">
                        <div class="col social">
                            <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="https://github.com/joyfulreaper" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Default Scripts
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js" 
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" 
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
